.numbers {
  display: flex;
  flex-wrap: wrap;
}

.number-1 {
  color: rgb(1, 255, 0);
  margin: 4px;
}

.number-2 {
  color: rgb(2, 254, 0);
  margin: 4px;
}

.number-3 {
  color: rgb(3, 253, 0);
  margin: 4px;
}

.number-4 {
  color: rgb(4, 252, 0);
  margin: 4px;
}

.number-5 {
  color: rgb(5, 251, 0);
  margin: 4px;
}

.number-6 {
  color: rgb(6, 250, 0);
  margin: 4px;
}

.number-7 {
  color: rgb(7, 249, 0);
  margin: 4px;
}

.number-8 {
  color: rgb(8, 248, 0);
  margin: 4px;
}

.number-9 {
  color: rgb(9, 247, 0);
  margin: 4px;
}

.number-10 {
  color: rgb(10, 246, 0);
  margin: 4px;
}

.number-11 {
  color: rgb(11, 245, 0);
  margin: 4px;
}

.number-12 {
  color: rgb(12, 244, 0);
  margin: 4px;
}

.number-13 {
  color: rgb(13, 243, 0);
  margin: 4px;
}

.number-14 {
  color: rgb(14, 242, 0);
  margin: 4px;
}

.number-15 {
  color: rgb(15, 241, 0);
  margin: 4px;
}

.number-16 {
  color: rgb(16, 240, 0);
  margin: 4px;
}

.number-17 {
  color: rgb(17, 239, 0);
  margin: 4px;
}

.number-18 {
  color: rgb(18, 238, 0);
  margin: 4px;
}

.number-19 {
  color: rgb(19, 237, 0);
  margin: 4px;
}

.number-20 {
  color: rgb(20, 236, 0);
  margin: 4px;
}

.number-21 {
  color: rgb(21, 235, 0);
  margin: 4px;
}

.number-22 {
  color: rgb(22, 234, 0);
  margin: 4px;
}

.number-23 {
  color: rgb(23, 233, 0);
  margin: 4px;
}

.number-24 {
  color: rgb(24, 232, 0);
  margin: 4px;
}

.number-25 {
  color: rgb(25, 231, 0);
  margin: 4px;
}

.number-26 {
  color: rgb(26, 230, 0);
  margin: 4px;
}

.number-27 {
  color: rgb(27, 229, 0);
  margin: 4px;
}

.number-28 {
  color: rgb(28, 228, 0);
  margin: 4px;
}

.number-29 {
  color: rgb(29, 227, 0);
  margin: 4px;
}

.number-30 {
  color: rgb(30, 226, 0);
  margin: 4px;
}

.number-31 {
  color: rgb(31, 225, 0);
  margin: 4px;
}

.number-32 {
  color: rgb(32, 224, 0);
  margin: 4px;
}

.number-33 {
  color: rgb(33, 223, 0);
  margin: 4px;
}

.number-34 {
  color: rgb(34, 222, 0);
  margin: 4px;
}

.number-35 {
  color: rgb(35, 221, 0);
  margin: 4px;
}

.number-36 {
  color: rgb(36, 220, 0);
  margin: 4px;
}

.number-37 {
  color: rgb(37, 219, 0);
  margin: 4px;
}

.number-38 {
  color: rgb(38, 218, 0);
  margin: 4px;
}

.number-39 {
  color: rgb(39, 217, 0);
  margin: 4px;
}

.number-40 {
  color: rgb(40, 216, 0);
  margin: 4px;
}

.number-41 {
  color: rgb(41, 215, 0);
  margin: 4px;
}

.number-42 {
  color: rgb(42, 214, 0);
  margin: 4px;
}

.number-43 {
  color: rgb(43, 213, 0);
  margin: 4px;
}

.number-44 {
  color: rgb(44, 212, 0);
  margin: 4px;
}

.number-45 {
  color: rgb(45, 211, 0);
  margin: 4px;
}

.number-46 {
  color: rgb(46, 210, 0);
  margin: 4px;
}

.number-47 {
  color: rgb(47, 209, 0);
  margin: 4px;
}

.number-48 {
  color: rgb(48, 208, 0);
  margin: 4px;
}

.number-49 {
  color: rgb(49, 207, 0);
  margin: 4px;
}

.number-50 {
  color: rgb(50, 206, 0);
  margin: 4px;
}

.number-51 {
  color: rgb(51, 205, 0);
  margin: 4px;
}

.number-52 {
  color: rgb(52, 204, 0);
  margin: 4px;
}

.number-53 {
  color: rgb(53, 203, 0);
  margin: 4px;
}

.number-54 {
  color: rgb(54, 202, 0);
  margin: 4px;
}

.number-55 {
  color: rgb(55, 201, 0);
  margin: 4px;
}

.number-56 {
  color: rgb(56, 200, 0);
  margin: 4px;
}

.number-57 {
  color: rgb(57, 199, 0);
  margin: 4px;
}

.number-58 {
  color: rgb(58, 198, 0);
  margin: 4px;
}

.number-59 {
  color: rgb(59, 197, 0);
  margin: 4px;
}

.number-60 {
  color: rgb(60, 196, 0);
  margin: 4px;
}

.number-61 {
  color: rgb(61, 195, 0);
  margin: 4px;
}

.number-62 {
  color: rgb(62, 194, 0);
  margin: 4px;
}

.number-63 {
  color: rgb(63, 193, 0);
  margin: 4px;
}

.number-64 {
  color: rgb(64, 192, 0);
  margin: 4px;
}

.number-65 {
  color: rgb(65, 191, 0);
  margin: 4px;
}

.number-66 {
  color: rgb(66, 190, 0);
  margin: 4px;
}

.number-67 {
  color: rgb(67, 189, 0);
  margin: 4px;
}

.number-68 {
  color: rgb(68, 188, 0);
  margin: 4px;
}

.number-69 {
  color: rgb(69, 187, 0);
  margin: 4px;
}

.number-70 {
  color: rgb(70, 186, 0);
  margin: 4px;
}

.number-71 {
  color: rgb(71, 185, 0);
  margin: 4px;
}

.number-72 {
  color: rgb(72, 184, 0);
  margin: 4px;
}

.number-73 {
  color: rgb(73, 183, 0);
  margin: 4px;
}

.number-74 {
  color: rgb(74, 182, 0);
  margin: 4px;
}

.number-75 {
  color: rgb(75, 181, 0);
  margin: 4px;
}

.number-76 {
  color: rgb(76, 180, 0);
  margin: 4px;
}

.number-77 {
  color: rgb(77, 179, 0);
  margin: 4px;
}

.number-78 {
  color: rgb(78, 178, 0);
  margin: 4px;
}

.number-79 {
  color: rgb(79, 177, 0);
  margin: 4px;
}

.number-80 {
  color: rgb(80, 176, 0);
  margin: 4px;
}

.number-81 {
  color: rgb(81, 175, 0);
  margin: 4px;
}

.number-82 {
  color: rgb(82, 174, 0);
  margin: 4px;
}

.number-83 {
  color: rgb(83, 173, 0);
  margin: 4px;
}

.number-84 {
  color: rgb(84, 172, 0);
  margin: 4px;
}

.number-85 {
  color: rgb(85, 171, 0);
  margin: 4px;
}

.number-86 {
  color: rgb(86, 170, 0);
  margin: 4px;
}

.number-87 {
  color: rgb(87, 169, 0);
  margin: 4px;
}

.number-88 {
  color: rgb(88, 168, 0);
  margin: 4px;
}

.number-89 {
  color: rgb(89, 167, 0);
  margin: 4px;
}

.number-90 {
  color: rgb(90, 166, 0);
  margin: 4px;
}

.number-91 {
  color: rgb(91, 165, 0);
  margin: 4px;
}

.number-92 {
  color: rgb(92, 164, 0);
  margin: 4px;
}

.number-93 {
  color: rgb(93, 163, 0);
  margin: 4px;
}

.number-94 {
  color: rgb(94, 162, 0);
  margin: 4px;
}

.number-95 {
  color: rgb(95, 161, 0);
  margin: 4px;
}

.number-96 {
  color: rgb(96, 160, 0);
  margin: 4px;
}

.number-97 {
  color: rgb(97, 159, 0);
  margin: 4px;
}

.number-98 {
  color: rgb(98, 158, 0);
  margin: 4px;
}

.number-99 {
  color: rgb(99, 157, 0);
  margin: 4px;
}

.number-100 {
  color: rgb(100, 156, 0);
  margin: 4px;
}

/*# sourceMappingURL=2.css.map */
